.l-table {
    padding-top:10px;
    margin-top:10px;
    width: 50% !important;
    margin:auto !important;
    /* border-collapse:separate !important; */
    border:solid black 1px !important;
    border-radius:6px !important;
    /* -moz-border-radius:6px !important; */
}

.l-toggle{
    /* border: 1px solid black; */
    width: 20% !important;
}

.l-status{
    display: inline;
}
